.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext
{
        outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0rem #ccc;
  border: 1px solid #ccc;
 /* padding: 5px; */
}
.p-button {
    color: #1c3681;
    /* background: #06b6d4; */
    background: #fff;
    /* border: 1px solid #06b6d4; */
    /* padding: 0.75rem 1.25rem; */
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 0;
    /* border-radius: 6px; */
}
.p-calendar .p-inputtext {
    flex: 1;
    width: 1%;
    /* background-color: blanchedalmond; */
    padding: 8px;
    height: 30px;
    font-size: 12px;
}
.p-calendar:focus{
     box-shadow: 0 0 0 0rem #ccc;
  border: 1px solid #ccc;
}

