.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  background-color: #f9fbff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  gap: 10px;
  z-index: 50;
  border-bottom: 1px solid #e3e9f7;
}

.header-greeting-container p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #1c2b54;
}

.notification-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.notification-container svg {
  color: #4c5c8a;
  cursor: pointer;
  transition: color 0.3s ease;
}

.notification-container svg:hover {
  color: #1c3681;
}

.letterAvatar1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #91a4e8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.header-innerContainer {
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: row;
  flex: 0.3;
  align-items: center;
  gap: 70px;
}
.header-searchBar {
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 13px;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: none;
  border-bottom: 1px solid #000;
  /* border-radius: 20px; */
  padding: 2px;
}
