#mainWrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.timesheet-container {
  font-family: Arial, sans-serif;
  max-width: 100%;
  background-color: #fdfdfd;
  border-radius: 8px;
  overflow-x: auto;
}
.header {
  background-color: #1c3681;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos {
  flex: 1;
}
.profile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.title {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 1.5rem;
}

.table {
  width: 97%;
  margin: auto;
  border-collapse: collapse;
  border: 0.5px solid #fafafa;
}

.table th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
  background-color: #1c3681;
  color: #fff;
}
.table td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 1rem;
  background-color: #fafafa;
}

select,
.note-textarea {
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hours-input {
  width: 100%;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.hour-note-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.note-button {
  margin-left: 0.4rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.note-button:hover {
  background-color: #ddd;
}

.note-textarea {
  margin-top: 0.5rem;
  resize: vertical;
}

.buttons {
  margin: 1rem 1rem 0 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.add {
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.button.submit {
  background-color: #2ecc71;
  color: white;
}

.button:hover {
  opacity: 0.9;
}
.totalHours {
  font-weight: bold;
  text-align: right;
  margin: 10px 30px;
}

@media (max-width: 768px) {
  .table th,
  .table td {
    font-size: 0.85rem;
  }
}
